.ant-carousel .slick-slide {
  text-align: center;
  height: 540px;
  line-height: 160px;
  background: rgb(217,173,164);
  overflow: hidden;
}

.ant-carousel .slick-slide div {
  color: #fff;
  height: 540px;
}

.ant-btn.btn-resume{
  text-align: center;
  
}

