.ant-carousel .slick-slide {
  text-align: center;
  height: 540px;
  line-height: 160px;
  background: rgb(217,173,164);
  overflow: hidden;
  /* background-image: url("../img/home2.jpg");
  background-size: 300px 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */
}

.ant-carousel .slick-slide div {
  color: #fff;
  height: 540px;
}

.ant-btn.btn-resume{
  text-align: center;
  
}

.img-home{
  
}
