.ant-layout-sider-zero-width-trigger{
    top: 0;
    background: rgb(228,186,162);
}

.ant-layout-sider-children{
    background-color: white;
}

.site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  }

  .body{
      background-color: white;
  }

  .reveal-page1{
    opacity: 1;
    animation-fill-mode: initial;
    animation-duration: 1000ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
  }
  .reveal-page2{
    opacity: 1;
    animation-fill-mode: both;
    backface-visibility: visible;
    animation-duration: 5000ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
  }